.page-menu {
  margin-block: 2rem;
  width: 100%;
}
.page-menu h1 {
  position: relative;
  text-transform: uppercase;
  text-align: end;
}
.page-menu section {
  margin-top: 3rem;
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-menu .icon {
  width: 2rem;
  height: 2rem;
}
.page-menu ul {
  display: grid;
  grid-row-gap: 0.25rem;
  margin-top: 0.5rem;
  padding: 0;
}
.page-menu li {
  display: grid;
  grid-template-columns: 1fr auto;
  list-style: none;
  border-block: 1px solid transparent;
}
.page-menu li:hover {
  border-color: hsl(var(--clr-accent-500));
}
.page-menu h3 {
  text-transform: capitalize;
}
.ingredients {
  align-self: start;
  font-weight: var(--fw-light);
  line-height: 1rem;
}

@media screen and (min-width: 800px) {
  .menu-header {
    width: calc(50% - 1rem);
  }
  .page-menu li {
    grid-column-gap: 0.5rem;
  }
  .page-menu ul {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}