.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-home p {
  font-weight: var(--fw-light);
}
.page-home button {
  font-size: var(--fs-500);
  margin-top: 5vh;
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: hsl(var(--clr-accent-500));
}
.pizza-img {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20%;
  width: auto;
  aspect-ratio: 16 / 9;
  background: url(./pizza.webp) no-repeat right;
  background-size: contain;
  z-index: -1;
}

@media screen and (min-height: 550px) {
  .pizza-img {
    display: block;
  }
}