<header id="header" class="container">
  <a href="" class="logo">
    <img src="./logo.svg" alt="napoli logo">
  </a>
  <nav id="header-nav" aria-hidden="true">
    <ul>
      <li><button class="button-active">Home</button></li>
      <li><button>Menu</button></li>
      <li><button>Contact</button></li>
    </ul>
  </nav>
  <a class="contact" href="tel:+48123456789">
    <span class="icon" aria-hidden="true">
      <img src="./phone.svg" alt="">
    </span>
    <span class="sr-only">Call</span>+48 123 456 789
  </a>
  <button class="hamburger-menu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="header-nav">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>