.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(var(--bg-primary));
  z-index: 100;
}
.header .logo {
  max-width: min(50%, 200px)
}
.header nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: inherit;
  transition: height 0.5s ease-in-out;
}
.header nav ul {
  display: grid;
  row-gap: 1rem;
  justify-items: center;
  padding: 1rem 0 1rem 0;
  list-style: none;
}
.header button {
  background-color: transparent;
  font-size: var(--fs-500);
}
.header nav button.button-active {
  color: hsl(var(--clr-secondary-500));
}
.header .contact {
  display: none;
  text-decoration: none;
  color: inherit;
}
/* ====================|| Hamburger menu ||==================== */
.header .hamburger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  height: 40px;
}
.hamburger-menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: hsl(var(--clr-primary-500), 0.7);
  border-radius: 3px;
}
.hamburger-menu span:first-child {
  top: 0;
  transition: transform 0.5s ease;
}
.hamburger-menu span:nth-child(2) {
  transition: width 0.5s ease, opacity 0.5s ease;
}
.hamburger-menu span:last-child {
  bottom: 0;
  transition: transform 0.5s ease;
}
.hamburger-menu.open span:first-child {
  transform: rotate(135deg) translate(12px, -12px);
}
.hamburger-menu.open span:nth-child(2){
  width: 0;
  opacity: 0;
}
.hamburger-menu.open span:last-child {
  transform: rotate(-135deg) translate(12px, 12px);
}

@media screen and (min-width: 1100px) {
  .header {
    align-items: end;
  }
  .header .hamburger-menu {
    display: none;
  }
  .header nav {
    position: static;
    width: auto;
    transition: none;
  }
  .header nav ul {
    display: flex;
    padding: 0;
  }
  .header .contact {
    display: flex;
    align-items: center;
    font-size: var(--fs-500);
    font-weight: var(--fw-light);
  }
}

